@import "variable";

.main-block {
  float: left;
  width: 100%;
}

.main-title {
  margin-top: 230px;
  @include transition($animation-1);
  opacity: 1;

  @include breakpoint($small) {
    margin-top: 100px;
  }

  h1 {
    color: rgba($white, $opt-2);
    text-align: center;
    margin-bottom: 20px;
    line-height: 55px;
    font-family: $robotoSlab;
  }

  h3 {
    color: rgba($white, $opt-3);
    text-align: center;
  }
}

//------------------------------------------------------------------
//Side panel
//------------------------------------------------------------------
.side-panel {
  margin-left: 20px;

  @include breakpoint($medium) {
    margin-top: 30px;
    margin-left: 0;
  }

  .side-panel-row {
    margin-bottom: 20px;

    h6.title {
      color: $black;
      font-weight: $font-w-medium;
      text-transform: uppercase;
    }
    h6.info {
      margin-top: 3px;
      color: rgba($blue-dark, $opt-2);
      font-weight: $font-w-light;
    }
  }
}

//------------------------------------------------------------------
//Search result style
//------------------------------------------------------------------

#searchContent {
  margin: 30px 0;
}

//------------------------------------------------------------------
//Advertisement Layout
//------------------------------------------------------------------
.add-block {
  padding-top: 68px;
}

//------------------------------------------------------------------
//Job Seeker Layout
//------------------------------------------------------------------

.jobSeeker-block {
  padding-top: 68px;
}

.site-pagination {
  float: right;
  margin: 30px 0;

  ul {
    float: right;

    li {
      float: left;

      &:not(:last-child) {
        margin-right: 24px;
      }

      a {
        font-size: $font-small;
        color: rgba($blue-dark, $opt-3);
      }

      &.active {
        a {
          color: $blue-light
        }
      }
    }
  }
}