@import "variable";

//Margin
.m-auto {
  margin: 0 auto;
}

@include margin;

//Padding
@include padding;

//Text color class
//Text Black
@include text-color($black, black);

//Text Dark Blue
@include text-color($blue-dark, dark-blue);

//Text Orange
//@include text-color($orange, orange);

//Text Orange
@include text-color($primary, orange);

//Font Weight
.f-light {
  font-weight: $font-w-light;
}

.f-regular {
  font-weight: $font-w-regular;
}

.f-medium {
  font-weight: $font-w-medium;
}

.pointer {
  cursor: pointer;
}

//Alignment
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.width-100 {
  width: 100%;
}

.is-search-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
}

//Button
button.cm-btn,
a.cm-btn {
  color: $white;
  padding: 7px 20px;
  font-size: $base-font-size;
  @include border-radius(2px);
  outline: none;
  border: none;
  margin-right: 5px;
  margin-left: 0;
  background: $gray-light;
  text-transform: uppercase;

  &.right {
    float: right;
    margin-right: 0;
    margin-left: 5px;
  }

  &:hover {
    background: rgba($gray-light, $opt-2);
  }

  //Sizes
  &.large {
    padding: 10px 40px;
    color: $black;
    font-size: $font-smallest;
  }

  //Background Colors
  &.light-blue-4 {
    color: $black;
    background: $p-dark;

    &:hover {
      background: rgba($p-dark, $opt-2);
    }
  }

  &.light-blue {
    color: $white;
    background: $secondary;

    &:hover {
      background: rgba($secondary, $opt-2);
    }
  }

  //Text Transform
  &.up-case {
    text-transform: uppercase;
  }
}

.btn-img {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-size: $font-smallest;

  &::before {
    display: inline-block;
    vertical-align: baseline;
    width: 24px;
    height: 24px;
    content: '';
    margin-right: 13px;
  }

  &.edit {
    color: $orange;

    &::before {
      background: url("../images/system/icon/site/24/ic_24-edit.png");
    }

    &:hover {
      $op: 0.86;

      opacity: $op;

      &::before {
        opacity: $op
      }
    }
  }

  &.btn-img:hover {

  }
}

.rounded-img {

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.with-border {
  border: 8px solid rgba($black, 0.1);

  &.bd-width-6 {
    border-width: 6px;
  }
}

//file Uploader
.file-uploader {
  display: inline-block;
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .button {
    padding: 12px 20px;
    font-size: $base-font-size;
    font-weight: $font-w-regular;
    color: $white;
    line-height: 14px;
    background: #cfcfd2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

  }
}

.fifty-block {
  float: left;
  width: 50%;
}

//Space
.lg-ml-20 {
  margin-left: 20px;
  @include breakpoint($medium) {
    margin-left: 0;
  }
}

.float-block {
  float: left;
  width: 100%;
}

//Table Block
.d-table {
  display: table;
  width: 100%;

  &.width-auto {
    width: auto;
  }

  .d-table-cell {
    display: table-cell;
    vertical-align: middle;

    &.width-0 {
      width: 0;
    }

    &.width-100 {
      width: 100%;
    }
  }

  &.cell-full-width {

    .d-table-cell {
      width: 100%;
    }
  }
}

.gradient {
  background: #ffca28;
  background: -moz-linear-gradient(-45deg, #ffca28 0%, #fbab18 100%);
  background: -webkit-linear-gradient(-45deg, #ffca28 0%, #fbab18 100%);
  background: linear-gradient(135deg, #ffca28 0%, #fbab18 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffca28', endColorstr='#fbab18', GradientType=1);

}

//Icon
.icon {
  display: inline-block;

  &.v-middle {
    vertical-align: middle;
  }

  &.icon-20 {
    width: 20px;
    height: 20px;

    &.icon-linkin {
      background: url("../images/system/icon/site/20/ic_20-link.png");
    }

    &.linkedin {
      @extend .icon-linkin;
    }

    &.camera {
      height: 16px;
      background: url("../images/system/icon/site/20/ic_20-camera.png");
    }
  }

  &.icon-24 {
    width: 24px;
    height: 24px;

    &.call {
      background: url("../images/system/icon/site/24/ic_24-call.png");
    }

    &.email {
      background: url("../images/system/icon/site/24/ic_24-email.png");
    }

    &.edit {
      background: url("../images/system/icon/site/24/ic_24-edit.png");
    }
  }

  &.icon-arrow-down {
    height: 10px;
    background: url("../images/system/icon/site/20/ic_20-arrow-down.png");
  }

  &.icon-16 {
    width: 16px;
    height: 16px;

    &.ic-cross {
      background: url("../images/system/icon/site/16/ic_16-cross.png");
    }
  }

  &.icon-10 {
    width: 10px;
    height: 10px;

    &.icon-cross {
      background: url("../images/system/icon/site/10/ic_10-cross.png");
    }
  }

  &.pointer {
    cursor: pointer;
  }
}

//Dot
.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  @include border-radius(50%);
  background: rgba($blue-dark, $opt-4);
}

//Line
.bottom-line {
  border-bottom: 1px solid rgba($black, .12);
}

//tab-horizontal
.tab-horizontal {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: block;
    background: $primary;
    a {
      padding: 15px 30px;
      color: rgba($black, 0.86);
      display: block;
      font-size: $base-font-size;
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    &.active {
      a {
        background: $white;
      }
    }
  }
}

//Search Box
.search-box {
  background: $white;
  min-height: 60px;
  -webkit-box-shadow: 0 2px 2px rgba($black, 0.20);
  -moz-box-shadow: 0 2px 2px rgba($black, 0.20);
  box-shadow: 0 2px 2px rgba($black, 0.20);
  @include border-radius(6px);

  .job-drop-down {
    position: relative;
    padding: 15px 30px;
    cursor: pointer;

    .selected-item {
      font-size: $font-large;
      color: $blue-dark;
      font-weight: $font-w-regular;

      //Media
      @include breakpoint($small) {
        font-size: $font-small;
      }
    }

    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      width: 1px;
      height: 100%;
      background: $black;
      top: 0;
      right: 0;

      //Media Query
      @include breakpoint($small) {
        display: none;
      }
    }

  }

  .job-input {
    padding: 15px 30px;
    position: relative;

    input[type="text"] {
      outline: none;
      border: none;
      width: calc(100% - 60px);
      height: 30px;
      left: 30px;
      top: 15px;
      color: $black;
      font-size: $font-large;

      //Media
      @include breakpoint($small) {
        font-size: $font-small;
      }
    }
  }
}

//Selector
.selector {
  position: relative;
  float: left;
  width: 100%;

  select {
    display: none;
  }

  .selected-option {
    float: left;
    font-size: $font-small;
    color: $white;
    font-weight: $font-w-medium;
    width: inherit;
    background: url("../images/system/icon/site/16/ic_16-arrow-down-white.png") no-repeat right 10px;
    cursor: pointer;
  }

  .option-list {
    display: none;
    top: 30px;
    left: 0;
    float: left;
    width: inherit;
    position: absolute;
    min-width: 165px;
    z-index: 2;
    background: $white;
    @include box-shadow(0, 2px, 5px, 0, rgba($black, 0.30));

    &.is-scroll {
      overflow-y: scroll;
      max-height: 260px;
    }

    li {
      padding: 8px 10px;
      color: rgba($blue-dark, $opt-2);
      font-size: $base-font-size;
      cursor: pointer;

      &.selected,
      &:hover {
        color: rgba($blue-dark, $opt-1);
        background: rgba($blue-dark, 0.15);
      }

      &.disabled {
        display: none;
      }
    }
  }

  &.dark {
    margin-top: 20px;

    .selected-option {
      color: rgba($black, $opt-2);
      font-size: $font-smallest;
      font-weight: $font-w-regular;
      border-bottom: 1px solid rgba($black, 0.2);
      background: url("../images/system/icon/site/16/ic_16-arrow-down.png") no-repeat right 5px;
    }

    .option-list {
      top: 20px;
    }
  }
}

.cm-message {
  float: left;
  font-size: $base-font-size;
  font-weight: $font-w-regular;
  color: $white;
  padding: 8px 20px;
  width: 100%;
  margin: 5px 0;
  @include border-radius(2px);
  display: none;

  &.info {
    background: $info;
  }

  &.error {
    background: $error;
  }

  &.success {
    background: $success;
  }

}

//------------------------------------------------------------------
//Search result style
//------------------------------------------------------------------

.total-jobs {
  h4 {
    color: $p-dark;
    font-weight: 500;
    span {
      margin: 0 3px;
    }
  }
}

.job-list-wrap {

  .job-list {

    > li {

      a {
        color: rgba($blue-dark, $opt-3);
        border-bottom: 1px solid $gray-light;
        padding: 30px 24px 20px 24px;
        @include float-block;
        @include transition($animation-1);

        &:hover {
          @include box-shadow(0px, 10px, 15px, 2px, rgba($black, 0.30));
        }

        h3 {
          color: $blue-dark;
          margin-bottom: 10px;
          font-weight: $font-w-medium;
        }

        h6 {
          color: rgba($blue-dark, $opt-3);
          display: inline-block;
          width: 100%;
          font-weight: $font-w-light;

          span {

            vertical-align: middle;

            &.time-left {
              float: right;
            }
          }
        }

        ul.more-details-list {
          margin-top: 10px;
          @include float-block;

          li {
            display: inline-block;
            font-size: $base-font-size;
            min-width: 100px;

            &:not(:last-child) {
              margin-right: 15px;
            }

            @include breakpoint($small) {
              @include float-block;
              width: 45%;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              margin-right: 5%;
            }
          }
        }
      }

    }
  }
}

//main Popup
.popup-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  @include transition($animation-2);
  background: rgba($blue-dark, .70);

  .popup {
    @include transition($animation-popup);
    position: fixed;
    z-index: 999;
    width: 60%;
    top: calc(100% - 90%);
    left: calc(100% - 80%);
    background: $white;
    @include border-radius(10px);
    @include transform(scale(0));

    @include breakpoint($medium) {
      width: 80%;
      top: calc(100% - 97%);
      left: calc(100% - 90%);
    }

    .pop-message {
      font-size: $font-large;
      font-weight: $font-w-light;
      text-align: center;

      &.success {
        color: $blue-light;
      }
    }

    .scroll {
      max-height: 380px;
      float: left;
      width: 100%;
      overflow: hidden;
    }
    .category-list {

      li {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        a {
          display: block;
          color: rgba($black, $opt-3);
          font-size: $font-small;
          &.active,
          &:hover {
            color: rgba($white, $opt-1);
          }

          span {
            margin-left: 10px;
          }

        }
      }
    }

    .man-category {
      padding: 50px;
      background: $primary;
      @include border-radius(10px);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .sub-category {
      @extend .man-category;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background: $white-xs-light;

      .category-list {
        li {
          a {
            &.active,
            &:hover {
              color: $primary;

              span {
                color: $primary;
              }
            }
            span {
              color: $black;
            }
          }
        }
      }
    }

    .close {
      display: inline-block;
      position: absolute;
      right: -55px;
      top: -12px;
      cursor: pointer;
      width: 26px;
      height: 26px;
      opacity: .56;
      background: url("../images/system/icon/site/26/ic_26-cross-white.png") no-repeat center center;

      &:hover {
        opacity: 1;
      }
    }

  }
}

//Step List
.step-list {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;

  li {
    display: table-cell;

    &.width-0 {
      width: 0;
    }
  }
}

.selected-items {
  .item {
    padding: 7px 18px;
    font-size: $font-xs-small;
    font-weight: $font-w-regular;
    color: rgba($black, $opt-2);
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #e7e7e8;
    line-height: 12px;

    span {
      margin-left: 15px;
    }
  }
}

//Input Search Box
.input-search-box {
  position: relative;

  .search-result {
    display: none;
    position: absolute;
    width: 100%;
    top: 41px;
    z-index: 9;
    max-height: 230px;
    overflow-y: scroll;
    background: $white;
    @include box-shadow(0, 2px, 5px, 0, rgba($black, 0.30));

    ul {

      li {
        font-size: $base-font-size;
        color: $blue-dark;
        padding: 8px 15px;
        font-weight: $font-w-regular;
        cursor: pointer;

        &:hover {
          background: rgba($gray-light, 0.30);
        }
      }
    }
  }

  &.is-active {

    .search-result {
      display: block;
    }

  }

}

//------------------------------------------------------------------
//User Profile
//------------------------------------------------------------------

.profile-img {
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 8px solid rgba($black, .10);
}

//------------------------------------------------------------------
//Employer Profile
//------------------------------------------------------------------

.employer-logo {
  display: block;
  border: 6px solid rgba($black, .10);
}