@import "variable";

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  &.fixed {
    position: fixed;
  }
}

.hide-block {
  display: none;
}

.navbar {
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: $primary;

  .navbar-header {
    a {
      margin-top: 6px;
      display: block;
    }
  }

  &.light-blue {
    //background: $blue-light-4;
  }
  &.nav-bottom-space {
    //padding-bottom: 10px;
  }
}

.navbar-nav {
  padding: 12px 15px;

  li {
    a {
      padding: 10px 20px;
      color: rgba($black-2, 0.56);
      font-size: $font-smallest;
      display: block;

      &:hover {
        color: $black-2;
      }
    }

    &.active {
      color: $black-2;
    }
  }

  li.sign-link {
    margin-left: 10px;

    a {
      color: $white;
    }
  }

  li.register-link {
    a {
      color: rgba($white, $opt-2);
      font-size: $base-font-size;
      background: $dark-grey;
      text-transform: capitalize;
      padding: 10px 30px;
      line-height: 1.4;
      margin-right: 0;

      &:hover {
        background: rgba($dark-grey, $opt-2);
      }
    }
  }
}

.nav-bar-space {
  float: left;
  width: 100%;
  margin-top: 66px;
}

//Search area
.search-area {
  margin-top: 130px;
  margin-bottom: 15px;

  //Media Query
  @include breakpoint($small) {
    margin-top: 80px;
  }
}

.full-height {
  height: 655px;
}

//Icon
.icon-arrow-down {
  &.right {
    position: absolute;
    right: 30px;
    top: 27px;
  }
}

//Main title
.main-title {
  &.hide-title {
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
  }
}

.main-title.hide-title {

  + .search-area {
    margin-top: 80px;

    .filters {
      height: auto;
      opacity: 1;
      overflow: visible;
    }
  }

}

.filters {
  margin-top: 15px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition($animation-1);

  .subCategory {
    color: rgba($white, $opt-3);
    padding: 15px 20px 3px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-bottom: 1px dashed rgba($white, $opt-3);
  }
}

//Selector Wrap
.selector-wrap {
  margin-top: 15px;
  margin-bottom: 15px;
}

//------------------------------------------------------------------
//Search result style
//------------------------------------------------------------------
ul.more-details-list {
  margin-top: 10px;

  li {
    .dot {
      margin-bottom: 2px;
      margin-right: 4px;
    }
  }
}

.popup-container {
  &.isShow {
    opacity: 1;
    z-index: 1001;

    .popup {
      @include transform(scale(1));
    }

    & ~ header,
    & ~ #content {
      filter: blur(3px);
    }
  }
}

//------------------------------------------------------------------
//Input placeholder
//------------------------------------------------------------------
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba($black, 0.30);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba($black, 0.30);
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba($black, 0.30);
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba($black, 0.30);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba($black, 0.30);
}

//-------------------------------------
//Registration Popup
//-------------------------------------
.popup-container {

  .small {
    width: 40%;
    left: calc(100% - 70%);
    padding: 30px 100px;
  }

  &.registration-popup {
    .popup {
      @extend .small;

      .employer {
        display: none;

      }
    }
  }

  //Sign in popup
  &.sign-in-popup {
    .popup {
      @extend .small;

      .forget_password {
        font-size: $base-font-size;
        color: $blue-light-2;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  &.small-size {
    .popup {
      @extend .small;
    }
  }

}

//-------------------------------------
//Form style
//-------------------------------------

//Radio button
input[type="radio"] {

  & + label {
    font-size: 16px;
    line-height: 20px;
    height: auto;
    padding-left: 25px;
  }
}

.input-wrapper {
  .float-text {
    font-size: $font-smallest;
    color: rgba($black, $opt-2);
  }
}

//-------------------------------------
//Step List
//-------------------------------------

.step-list {

  li {

    &.width-200 {
      width: 200px;
    }

    .light-text {
      color: rgba($blue-dark, $opt-4);
    }

    .light-text-active {
      color: $blue-dark;
    }

    a {
      display: inline-block;
      cursor: context-menu;

      span {
        display: inline-block;
        text-align: left;
      }

      span.number {
        font-size: 77px;
        margin-right: 15px;
        font-weight: $font-w-light;
        @extend .light-text;
      }

      span.text {
        font-size: $font-small;
        font-weight: $font-w-regular;
        @extend .light-text;
      }
    }

    &.active {
      a {
        span {
          @extend .light-text-active;
        }
      }
    }

  }
}

//Cross button
.btn-remove-input {
  position: absolute;
  bottom: 3px;
  cursor: pointer;
  right: 0;
}

//icon-linkin
.icon-linkin {
  margin-right: 15px;
}

.company-logo-wrp {
  width: 212px;
  height: 114px;
  border: 1px solid #ebebeb;
  float: left;
  margin-right: 30px;
}

.cmp_logo_upload {
  margin-top: 67px;
}

//Image Crop
.company-logo-upload {
  .cropit-preview {
    background-size: cover;
    border: 1px solid #ccc;
    width: 212px;
    height: 114px;
  }
  .cropit-preview-image-container {
    cursor: move;
  }
  .image-size-label {
    margin-top: 10px;
  }
  input, .export {
    display: block;
  }
}

.data-user-profile {

  .heading {
    width: 250px;

    @include breakpoint($small) {
      width: 50%;
    }
  }

  .details {
    width: 65%;

    @include breakpoint($small) {
      width: 50%;
    }
  }
}

.data-employer-profile {
  @extend .data-user-profile;
}

//
#loadingmessage {
  width: 100%;

  img {
    margin: 0 auto;
    display: block;
  }
}

#ajaxLoadAdvertisements {
  float: left;
  width: 100%;
}

//Scroll Bar
@mixin hoverBar {
  background-color: $black;
}

.mCS-4you-theme {

  &.mCSB_scrollTools {

    .mCSB_dragger {

      .mCSB_dragger_bar {
        background-color: rgba($black, $opt-3);
        width: 10px;
        @include border-radius(0)
      }

      &:hover {
        .mCSB_dragger_bar {
          @include hoverBar;
        }

      }

      &.mCSB_dragger_onDrag {
        @include hoverBar;
      }

      &:active {
        //@include hoverBar;
      }
    }

    .mCSB_draggerRail {
      background-color: rgba($black, .15);
      width: 10px;
      @include border-radius(0);
    }
  }
}
