@import "variable";

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &.fixed {
    position: fixed;
  }
}

.navbar {
  margin-bottom: 0;

  &.light-blue {
    background: $blue-light-4;
  }
  &.nav-bottom-space {
    padding-bottom: 10px;
  }
}

.navbar-nav {
  padding: 12px 15px;

  li {
    a {
      padding: 5px 20px;
      color: rgba($white, 0.56);
      font-size: $font-smallest;
      display: block;

      &:hover {
        color: $white;
      }
    }

    &.active {
      color: $white;
    }
  }

  li.sign-link {
    margin-left: 10px;

    a {
      color: $white;
    }
  }

  li.register-link {
    a {
      color: $blue-dark;
      font-size: $base-font-size;
    }
  }
}

.nav-bar-space {
  float: left;
  width: 100%;
  margin-top: 66px;
}

//Search area
.search-area {
  margin-top: 130px;
  margin-bottom: 15px;

  //Media Query
  @include breakpoint($small) {
    margin-top: 80px;
  }
}

.full-height {
  height: 655px;
}

//Icon
.icon-arrow-down {
  &.right {
    position: absolute;
    right: 30px;
    top: 27px;
  }
}

//Main title
.main-title {
  &.hide-title {
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
  }
}

.main-title.hide-title {

  + .search-area {
    margin-top: 80px;

    .filters {
      height: auto;
      opacity: 1;
      overflow: visible;
    }
  }

}

.filters {
  margin-top: 15px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition($animation-1);
}

//Selector Wrap
.selector-wrap {
  margin-top: 15px;
  margin-bottom: 15px;
}

//------------------------------------------------------------------
//Search result style
//------------------------------------------------------------------
ul.more-details-list {
  margin-top: 10px;

  li {
    .dot {
      margin-bottom: 2px;
      margin-right: 4px;
    }
  }
}

.popup-container {
  &.isShow {
    opacity: 1;
    z-index: 998;

    .popup {
      @include transform(scale(1));
    }
  }
}

//------------------------------------------------------------------
//Input placeholder
//------------------------------------------------------------------
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba($black, 0.30);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba($black, 0.30);
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba($black, 0.30);
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba($black, 0.30);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba($black, 0.30);
}

//-------------------------------------
//Registration Popup
//-------------------------------------
.popup-container {

  &.registration-popup {
    .popup {
      width: 40%;
      left: calc(100% - 70%);
      padding: 30px 100px;

      .employer {
        display: none;

      }
    }
  }

  //Sign in popup
  &.sign-in-popup {
    @extend .registration-popup;

    .forget_password {
      font-size: $base-font-size;
      color: $blue-light-2;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

//-------------------------------------
//Form style
//-------------------------------------

//Radio button
input[type="radio"] {

  & + label {
    font-size: 16px;
    line-height: 20px;
    height: auto;
    padding-left: 25px;
  }
}

.input-wrapper {
  .float-text {
    font-size: $font-smallest;
    color: rgba($black, $opt-2);
  }
}