.mt-30 {
    margin-top: 30px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.navbar-fixed {
    height: 90px;
}

.logo-link img {
    margin-top: 10px;
}

.adm-tbl-action_2 {
    width: 7%;
}

.adm-tbl-action_3 {
    width: 11%;
}
