.mt-30 {
    margin-top:30px !important;
}
.mb-15 {
    margin-bottom:15px !important;
}

.adm-panel .panel-heading {
    padding: 15px;
}

.adm-panel .panel-heading h3 {
    margin: 0;
}
.adm-panel .panel-body{
    padding-top:30px;
}
.adm-alert {
    display: none;
}

.adm-right {
    float: right;
}

.adm-right.adm-btn {
    margin-left: 15px;
}
.adm-tbl-action_2 {
    width: 7%;
}
.adm-tbl-action_3 {
    width: 11%;
}
