.f-24 {
    font-size: 24px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-12 {
    font-size: 12px !important;
}

.border-r-0 {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.hide-block {
    display: none;
}

.navbar-fixed {
    height: 90px;
}

.logo-link img {
    margin-top: 10px;
}

.adm-tbl-action_2 {
    width: 7%;
}

.adm-tbl-action_3 {
    width: 11%;
}

.ps-absolute {
    position: absolute;
}

.ps-relative {
    position: relative;
}

/*------------------------------------
    Button
------------------------------------*/
button.cm-btn,
a.cm-btn,
button.cm-btn:focus {
    outline: none;
    background: transparent;
    border: none;
    padding: 0;
    float: left;
    font-size: 16px;
    color: #424242;
    line-height: 24px;
}

a.cm-btn i,
button.cm-btn i {
    color: inherit;
    margin-right: 10px;
}

a.cm-btn:hover,
button.cm-btn:hover,
a.cm-btn:hover i,
button.cm-btn:hover i {
    opacity: 0.86;
}

a.cm-btn.right,
button.cm-btn.right {
    float: right;
}

a.cm-btn.add,
button.cm-btn.add {
    color: #42a5f5;
}

/*------------------------------------
    Messages
------------------------------------*/
.adm-alert {
    display: none;
    font-size: 14px;
    padding: 15px;
}

.success {
    background: #66bb6a;
    color: #fff;
}

.info {
    background: #bbdefb;
    color: #fff;
}

.warning {
    background: #fff9c4;
    color: #004d40;
}

.danger {
    background: #ef5350;
    color: #ffffff;
}

/*------------------------------------
    Search Bar
------------------------------------*/

.search-input-wrp {
    width: 100%;
    display: table;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}

.search-input,
.search-action {
    position: relative;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.search-input .search-icon {
    position: absolute;
    top: 7px;
    left: 10px;
}

.search-input input[type="text"] {
    margin-bottom: 0;
    height: 36px;
    border: none;
    text-indent: 40px;
}

.search-input input[type="text"]:not(.browser-default):focus {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.search-action .btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.search-input-wrp.input-focus {
    background: #e3f2fd !important;
}

/*====================================
    Detail card
=====================================*/
.detail-card.outer-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

input.h-20 {
    height: 20px !important;
    margin-bottom:0 !important;
}
input[disabled].disabled {
    border: none !important;
}
/*====================================
   Menu
=====================================*/
.menu {
    position: relative;
}

.menu li:hover > ul {
    display: block;
}

.menu li ul {
    display: none;
    position: absolute;
    width: 100%;
    background: #00B0FF;
}

.menu ul ul,
.menu ul ul ul {
    right: 100%;
    top: 0;
    display: none;
}

.menu li ul li {
    width: 100%;
    position: relative;
}

.menu li a {
    position: relative;
}

.menu li.hasChild > a {
    padding-left: 30px;
}

.menu li.hasChild > a::before {
    position: absolute;
    width: 16px;
    height: 16px;
    content: '<';
    font-size: 20px;
    left: 15px;
    display: inline-block;
}

.login-page {
    background: #000;
}

.login-panel h5 {

}

.input-no-label {
    position: relative;
}

.input-no-label input {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    position: relative;
    height: 24px !important;
}

.login-form {
    margin-top: 10%;
}

.expand-card-head {

}

.expand-card-content {
    display: none;
}

.company-form {
    display: none;
}

.logo-wrp {
    width: 225px;
    height: 150px;
    margin: 0 auto;
}

.logo-wrp img {
    width: 100%;
}
